<div class="page-header">
    <h2>Main</h2>
</div>
<div ng-controller="UsersList">
	<table class="table striped">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in items" ng-class="{'locked': user.status === 'locked'}">
                <td>{{user.last_name}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.created_at}}</td>
                <td>
                	<button 
                			class="waves-effect waves-light btn btn-small" 
                			ng-click="changeStatus(user.id, user.status)">
                		Change Status
                	</button>
                </td>
                <td>
                    <a class="btn-floating btn" href="#!/edit?id={{user.id}}">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <!-- Pagination -->
        <ul ng-if="pager.pages.length" class="pagination">
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="setPage(1)"> &laquo; </a>
            </li>
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="setPage(pager.currentPage - 1)"> &lsaquo; </a>
            </li>
            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                <a ng-click="setPage(page)">{{page}}</a>
            </li>               
            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a ng-click="setPage(pager.currentPage + 1)"> &rsaquo; </a>
            </li>
            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a ng-click="setPage(pager.totalPages)"> &raquo; </a>
            </li>
        </ul>
	</div>
	
</div>




