/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin: 1.78rem 0 4.6rem 0;
}

.button-collapse {
  color: #26a69a;
}

.locked {
  text-decoration: line-through;
  color: #b71c1c;
}

.btn-small {
  padding: 0 1rem;
  font-size: .9rem;
}

.pagination {
  text-align: center;
}

.pagination li a {
  cursor: pointer;
}

.pagination li.active {
  background-color: #26a69a;
}